body {
background-color: #ccccff;
margin: 0px;
}
span {
background-color: green;
display: block;
}
.fotko {
width: 100px;
display: block;
}
<style type="text/css">
  .menu {
   width: 220px;
   padding: 5px;
   border: 1px solid #000;}
  .block1 {
  width: 200px;
  background: #ccccff;
  padding: 5px;

  padding-right: 20px;
  border: solid 1px black;
  float: left;
  display: inline-block;
  text-decoration: none;
 }
 .block2 {
  height: 100px;
  width: 1127px;
  background: #cff;
  padding: 5px;
  border: solid 1px black;
  position:absolute;
  display: inline-block;
 }
 .block3 {
  height: 500px;
  width: 1127px;
  top: 112px;
  left: 227px;
  background: #cff;
  padding: 5px;
  border: solid 1px black;
  float:left;
  position:absolute;

 }
</style>
